[buildout]
extends = https://raw.githubusercontent.com/VoteIT/voteit_cookiecutter_buildout/master/buildout_defaults/production.cfg

eggs +=
    voteit.debate
    voteit.irl
    voteit.schulze
    voteit.printable
    voteit.dutt
    voteit.combined_simple
    voteit.stv


[crontab-pack]
# m h   dom mon dow | pack friday morning
times = 00 04   * *  5
